{{- $hostname := "" }}
{{- if (eq .chezmoi.os "darwin") }}
{{-   $hostname = (output "scutil" "--get" "ComputerName" | trim) }}
{{- else if (eq .chezmoi.os "linux") }}
{{-   $hostname = (output "hostname" | trim) }}
{{- end -}}

# ------------------------------------------------------------------------------
#                               Config values
# ------------------------------------------------------------------------------

# Basic directories
typeset -A config
config[settings_directory]=${HOME}/.settings
config[applications_directory]=${HOME}/Applications
config[source_directory]=${HOME}/Documents/src
{{- if eq $hostname "arikel" }}
config[miniconda]=${HOME}/mambaforge
{{- else }}
config[miniconda]=${HOME}/miniforge3
{{- end }}

# ------------------------------------------------------------------------------
#                             Path configuration
# ------------------------------------------------------------------------------

# Rye
if [[ -f "${HOME}/.rye/env" ]]; then
    source "${HOME}/.rye/env"

    # Activate tab completion if using zsh
    if [ -n "$ZSH_VERSION" ]; then
        # assume Zsh
        fpath+="${config[settings_directory]}/rye-zsh-completion"
        compinit rye
    fi
fi

# Pipx
export PATH="${HOME}/.local/bin:$PATH"

# Miniconda
if [ -n "${config[miniconda]+1}" ]; then
    __conda_setup="$(${config[miniconda]}'/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
    if [ $? -eq 0 ]; then
        eval "$__conda_setup"
    else
        if [ -f "${config[miniconda]}/etc/profile.d/conda.sh" ]; then
            . "${config[miniconda]}/etc/profile.d/conda.sh"
        else
            export PATH="${config[miniconda]}/bin:$PATH"
        fi
    fi
    unset __conda_setup

    # Activate tab completion if using zsh
    if [ -n "$ZSH_VERSION" ]; then
        # assume Zsh
        fpath+="${config[settings_directory]}/conda-zsh-completion"
        compinit conda
    fi
fi

# Path setting: custom apps
if [ -n "${config[applications_directory]+1}" ]; then
    export PATH=${config[applications_directory]}/bin:$PATH
fi

# ------------------------------------------------------------------------------
#                          Shell tools and plugins
# ------------------------------------------------------------------------------

# direnv local environment management system
if hash direnv 2>/dev/null; then
    eval "$(direnv hook zsh)"
fi

# apparish bookmark system
source ${config[settings_directory]}/apparish/apparish.sh

# Prompt using Oh my posh
eval "$(oh-my-posh --init --shell zsh --config ~/.settings/spaceship.omp.json)"
